.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 10s linear forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.svg {
  /* width: 500px;
  height: 500px; */
  /* position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; */
  /* margin: auto; */
}
